.about {
    text-align: justify;
}

.photo_personal, .about-text, .about {
    display: flex;

}

.photo_personal {
    min-width:250px;
    max-width: 100%;
    width: 450px;
    min-height: 70%;
    border-radius: 10px;
}

.main-title {
    margin: 20px auto ;
}

.main-text {
    margin: 3% auto;
    font-size: 30px;
    font-weight: 200;
    max-width: 30%;
}