footer {
    background-color: #fdf9f0;
    border-radius: 5px;
    height: 80px;

}

.icons {
    margin: 5px 0 0 10px;
    display: inline;
    width: 25px;
    height: 25px;
}

.icons li {
    display: inline;
    margin: 0px 5px;
}

.icons a, .registered a {
    text-decoration: none;
    color: black;    
}
.registered {
    background-color: #fdf9f0;
    position: relative;
    padding: 0 0 1% 77%;
}

@media screen and (max-width: 480px) {

    .footer {
        width: 100%;
        padding: 6% 0 6% 0;
    }

    .icons {
        width: 15px;
        height: 15px;
    }

    .text-icons {
        font-size: 15px;
    }

    .registered {
        font-size: 15px;
    }

}