footer {
    margin: 0 5%;
    border-radius: 5px;
    background-color: #fdf9f0;
    border-radius: 5px;
    height: 80px;

}

.icons {
    margin: 5px 0 0 10px;
    display: inline;
    width: 25px;
    height: 25px;
}

.icons li {
    display: inline;
    margin: 0px 5px;
}

.icons a, .registered a {
    text-decoration: none;
    color: black;    
}
.registered {
    background-color: #fdf9f0;
    position: relative;
    padding: 0 0 1% 80%;
    margin: 0 5%;
}

@media screen and (max-width: 480px) {
    
    footer {
        margin: 0;
        width: 100%;
    }

    .icons {
        width: 15px;
        height: 15px;
    }
    
    .text-icons {
        font-size: 15px;
    }
    
    .registered {
        
        margin: 0;
        font-size: 15px;
        padding: 0 0 1% 70%;
    }

}

@media screen and (min-width:481px) and (max-width: 900px) {

    .footer {
        margin: 0;
        width: 100%;
    }

    .icons {
        width: 15px;
        height: 15px;
    }

    .text-icons {
        font-size: 15px;
    }

    .registered {
        margin: 0;
        font-size: 15px;
        padding: 0 0 1% 88%;

    }

}