@media screen and (max-width: 480px) {

    body {
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }
    .box, .box img .about, .portfolio, .women, .men, .kids, .shirts, .monogram, .contact, .body, .registered, .photo-personal, .main-text, .img-port, .registered {
        margin: 0 auto;
        width: auto;
    }

    .registered-kelly-maria {
        padding: 0 0 10px 90%;
    }
    
    nav {
        position: static;
    }

    .about {
        display: inline;
    }
}
